@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


:root {
  --background: hsl(220 20% 7%);
  --muted-background: hsl(217, 14%, 18%);
  --foreground: hsl(210 20% 92%);
  --primary-foreground: hsl(220 20% 7%);
  --muted-foreground: hsl(215 12% 50%);
}

@theme {
  --color-background: var(--background);
  --color-muted-background: var(--muted-background);
  --color-foreground: var(--foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-light-blue: #0DA2E7;
  --font-space: "Space Grotesk", sans-serif;
  --font-body: "Inter", system-ui, sans-serif;
  --shadow-glow-cyan: 0 0 20px #0da2e726, 0 0 60px #0da2e70d;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-space);
    color: var(--foreground);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
  }
}

@layer components {
  .blue-button {
    @apply py-3.5 bg-light-blue shadow-glow-cyan rounded-md cursor-pointer hover:opacity-90 transition-all duration-150 ease-in-out;
  }
  
  .auth-input {
    @apply rounded-md bg-muted-background placeholder:text-muted-foreground px-4 py-3 text-sm outline-none focus:border-light-blue;
  }
  .auth-label {
    @apply text-muted-foreground mb-1 text-sm tracking-wider uppercase font-body;
  }
}